.table-results { margin-top: 10px; }

.pag { margin: 0px 5px; }

select.form-control.pag { width: 5%; }

tr.clickable { cursor: pointer; }

h1.loading-banner {
  margin-top: 10%;
  font-size: 100px;
  position: absolute;
  z-index: 9999;
  animation:colorchange 20s infinite alternate;
}

@keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}
