<hero-title title="Search your hero"></hero-title>
<hero-loading *ngIf="loading"></hero-loading>
<div class="search-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <label for="input-name">Name of your favorite character</label>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <input type="text" [(ngModel)]="heroName" name="input-name" class="form-control"/>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary" (click)="launchSearch(null)">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="search-result">
  <hero-table
  [tableConfig]="tableConfig"
  [tableData]="tableHeros$ | async"
  (emitAction)="doAction($event)"
  ></hero-table>
</div>
