<hero-title title="{{title}}"></hero-title>
<div class="info-character">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <hero-loading class="details" *ngIf="loadingImage"></hero-loading>
        <div class="main-image" *ngIf="!loadingImage">
          <img src="{{hero.image}}" class="img-fluid"/>
        </div>
      </div>
      <div class="col">
          <hero-loading class="details" *ngIf="loadingImage"></hero-loading>
        <div class="main-description" *ngIf="!loadingImage">
          <span>{{hero.description}}</span>
        </div>
        <div class="home-button">
          <button class="btn btn-primary btn-lg btn-block" (click)="goHome()" >Home</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="comics-events-stories">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
          <hero-loading class="details" *ngIf="loadingComics"></hero-loading>
        <div class="table-title">
          <h1>Comics:</h1>
        </div>
        <hero-table [tableConfig]="tableConfig" [tableData]="comics" (requestNewData)="getComics($event)" *ngIf="comics" ></hero-table>
      </div>
      <div class="col">
          <hero-loading class="details" *ngIf="loadingSeries"></hero-loading>
        <div class="table-title">
          <h1>Series:</h1>
        </div>
        <hero-table [tableConfig]="tableConfig" [tableData]="series" (requestNewData)="getSeries($event)" *ngIf="series"></hero-table>
      </div>
    </div>
  </div>
</div>
