div.comics-events-stories {
  border-top: solid 3px;
  margin: 2% 1%;
  padding-top: 1%;
}
.table-results { margin-top: 10px; }
.pag { margin: 0px 5px; }
select.form-control.pag { width: 8%; }
div.home-button {
  margin: 1% 5% 1% 0%;
}
div.main-description {
  font-size: 30px;
  margin: 1% 5% 1% 0%;
  border: solid 3px;
  padding: 28px;
  border-radius: 12px;
}
div.main-image {
  width: 50%;
}
div.loading {
  display: flex;
  justify-content: center;
}
